# Python
__pycache__/
*.py[cod]
*.pyc
backend/storage/
backend/storage_pointcloud/
backend/storage_mesh/
backend/storage_gs/
# Frontend
frontend/node_modules/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.docx
skills/